<p data-sly-test=${wcmmode.edit}>Configure Footer</p>
<div class="modal-backdrop" style="display: none; z-index: 100;" onclick="fnclosepopup()"></div>
<div class="footer-holder" data-sly-use.footerModel="com.usbank.loyality.core.models.FooterModel" data-sly-test="${footerModel}">
   <ul class="footer-nav" data-sly-list="${footerModel.footerList}">
      <li>
         <sly data-sly-test.path="${item.path}">
            <a onclick="openPopupBox('popupContentDiv${itemList.index @context='scriptString'}')">${item.linkName}</a>
         </sly>
         <sly data-sly-test="${!path}">
            <a href="${item.linkUrl}" target="${item.linkNewWindow}">${item.linkName}</a>
         </sly>
      </li>
   </ul>
   <div class="intro" style="padding: 5px 0 0 0px;" data-sly-test.text="${properties.text}">
      ${text @context='html'}
   </div>
</div>
<sly data-sly-list="${footerModel.footerList}">
   <div data-sly-test.path="${item.path}" class="hide" id="popupContentDiv${itemList.index}">
      <sly data-sly-test.contentPath="${path}/jcr:content/root"></sly>
      <div data-sly-resource="${contentPath @ wcmmode='disabled'}"></div>
   </div>
</sly>