<div class="columns-info" ng-show="ShowCarousel">
   <div class="holder">
      <div class="frame">
         <div class="columns-box">
            <div sonar="" class="column" zone="HP2" location="HP" ng-show="ShowHP2">
               <div class="column">
                  <div class="img-holder"><a href="#"><span class="mask"></span><img alt="" src="/content/dam/us-bank/HP_ALL_Electronics.png" width="68" height="68"> </a></div>
                  <div class="text-holder">
                     <strong class="heading">Electronics Rewards.</strong> 
                     <p>Redeem your rewards points for top-selling electronics.</p>
                     <a class="btn-more" href="#">View Electronics</a> 
                  </div>
               </div>
            </div>
            <div sonar="" class="column" zone="HP3" location="HP" ng-show="ShowHP3">
               <div class="column">
                  <div class="img-holder"><a href="#"><span class="mask"></span><img alt="" src="/content/dam/us-bank/HP3_AAA_Gift_Cards.png" width="68" height="68"></a></div>
                  <div class="text-holder">
                     <strong class="heading">Redeem <i>AAA Dollars</i><sup>Â®</sup> for AAA Gift Cards!</strong> 
                     <p>Use gift cards at any participating<br>AAA Branch.</p>
                     <a class="btn-more" href="#">Get Details</a> 
                  </div>
               </div>
            </div>
            <div sonar="" class="column" zone="HP4" location="HP" ng-show="ShowHP4">
               <div class="column">
                  <div class="img-holder">
                     <a href="#">
                     <span class="mask"></span>
                     <img alt="" src="/content/dam/us-bank/SportsSmallModule.jpg" width="68" height="68">
                     </a>
                  </div>
                  <div class="text-holder">
                     <strong class="heading">Sports Rewards.</strong> 
                     <p>Score big with sporting goods, accessories and specialty items.</p>
                     <a class="btn-more" href="#">View Sports</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>