<div id="footer">
   <div style="display: none; width: 750px; padding: 15px; z-index: 2051;" id="ContactUsPopUp">
      <div class="" style="width: 750px; min-height: 113px;">
         <p id="ContactUsPopUpContent" style="color: #666; font: 12px/18px , " helvetica="" neue"="" helvetica,="" arial,="" sans-serif;"="">
         </p><!-- ngInclude: filePath -->
         <p></p>
      </div>
      <div class="" style="width: 750px; padding: 15px 0px;">
         <a ng-click="fnclosepopup()" class="btn-blue ng-scope" style="outline: 0; float: right; color: #FFFFFF"><span style="padding: 0 5px 0 7px; min-width: 30px;"><em class="ng-binding" style="background: none;">Close</em></span></a>
      </div>
   </div>
   <div style="display: none; width: 750px; padding: 15px; z-index: 2051;" id="FAQsPopUp">
      <div class="" style="width: 750px; min-height: 647px;">
         <p id="FAQsPopUpContent" style="color: #666; font: 12px/18px , " helvetica="" neue"="" helvetica,="" arial,="" sans-serif;"="">
         </p><!-- ngInclude: filePath -->
         <p></p>
      </div>
      <div class="" style="width: 750px; padding: 15px 0px;">
         <a ng-click="fnclosepopup()" class="btn-blue ng-scope" style="outline: 0; float: right; color: #FFFFFF"><span style="padding: 0 5px 0 7px; min-width: 30px;"><em class="ng-binding" style="background: none;">Close</em></span></a>
      </div>
   </div>
   <div style="display: none; width: 750px; padding: 15px; z-index: 2051;" id="ProgramRulesPopUp">
      <div class="" style="width: 750px; min-height: 900px;">
         <p id="ProgramRulesPopUpContent" style="color: #666; font: 12px/18px , " helvetica="" neue"="" helvetica,="" arial,="" sans-serif;"="">
         </p><!-- ngInclude: filePath -->
         <p></p>
      </div>
      <div class="" style="width: 750px; padding: 15px 0px;">
         <a ng-click="fnclosepopup()" class="btn-blue ng-scope" style="outline: 0; float: right; color: #FFFFFF"><span style="padding: 0 5px 0 7px; min-width: 30px;"><em class="ng-binding" style="background: none;">Close</em></span></a>
      </div>
   </div>
   <div class="modal-backdrop" style="display: none; z-index: 100;" ng-click="fnclosepopup()"></div>
   <div class="footer-holder">
      <ul class="footer-nav">
         <li><a ng-click="openContactUsMessageBox()">Contact Us</a></li>
         <li><a ng-click="openFAQsMessageBox()">FAQs</a></li>
         <li><a ng-click="openProgramRulesMessageBox()">Program Rules</a></li>
         <li><a ng-href="https://www.creditcard.acg.aaa.com/onlineCard/publicPrivacyPolicy.do" target="_blank" href="https://www.creditcard.acg.aaa.com/onlineCard/publicPrivacyPolicy.do">Privacy Pledge</a></li>
      </ul>
      <p class="theme-custom">
         Â©
         <script>document.write(new Date().getFullYear())</script>2018 <a ng-href="#" href="#"> ACG Card Services</a>
      </p>
      <div class="intro" style="padding: 5px 0 0 0px;">
         <p style="margin-top:20px; margin-bottom:15px;">The creditor and issuer of the <i>AAA Dollars</i> Mastercard is U.S. Bank NA dba ACG Card Services, pursuant to a license from Mastercard International Incorporated. Mastercard is a registered trademark, and the circles design is a trademark of Mastercard International Incorporated.</p>
      </div>
   </div>
</div>