<div class="gallery autorotation-disabled" style="display: block;">
   <div class="frame">
      <ul>
         <li class="" style="display: block; opacity: 0;"><a href="#"><img alt="" src="/content/dam/us-bank/H1_AAA_Gift_Cards.png" width="705" height="400"> </a></li>
         <li style="display: block; opacity: 0;" class=""><a href="#"><img alt="" src="/content/dam/us-bank/H_USB_BestBuy.png" width="705" height="400"> </a></li>
         <li style="display: block; opacity: 0;" class=""><a href="#"><img alt="" src="/content/dam/us-bank/H2_AAA_Cash_Back.png" width="705" height="400"> </a></li>
         <li style="display: block; opacity: 0;" class=""><a href="#"><img alt="" src="/content/dam/us-bank/H_USB_GOLF.png" width="705" height="400"> </a></li>
         <li style="display: block; opacity: 0;" class=""><a href="#"><img alt="" src="/content/dam/us-bank/H3_AAA_Housewares.png" width="705" height="400"> </a></li>
         <li style="display: block; opacity: 0;" class=""><a href="#"><img alt="" src="/content/dam/us-bank/H1_Flex_Hero_GiftCards.png" width="703" height="465"></a></li>
         <li style="display: block; opacity: 0;" class=""><a href="#"><img alt="" src="/content/dam/us-bank/H_USB_VSA.png" width="705" height="400"> </a></li>
         <li style="display: block; opacity: 1;" class="active"><a href="#"><img alt="" src="/content/dam/us-bank/H_USB_Electronics.png" width="705" height="400"> </a></li>
      </ul>
   </div>
   <div class="switcher" style="display: block;">
      <div class="switcher-holder carousel">
         <div class="slides" style="width: 537px; height: 162px;">
            <div class="slideItem" style="width: 164px; height: 165.608px; top: 31.948px; right: 6.92px; opacity: 1; z-index: 6; display: block;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C1_AAA_Gift_Cards.png" style="width: 164px; height: 130.4px; display: inline-block;"> </a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 130.4px; width: 100%; height: 35.208px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C1_AAA_Gift_Cards.png" style="width: 164px; height: 130.4px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="slideItem" style="width: 131.2px; height: 132.486px; top: 57.5064px; right: -120.344px; opacity: 0; z-index: 5; display: none;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C_USB_BestBuy.png" style="width: 131.2px; height: 104.32px; display: inline-block;"> </a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 104.32px; width: 100%; height: 28.1664px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C_USB_BestBuy.png" style="width: 131.2px; height: 104.32px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="slideItem" style="width: 104.96px; height: 105.989px; top: 77.9531px; right: -222.155px; opacity: 0; z-index: 4; display: none;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C2_AAA_Cash_Back.png" style="width: 104.96px; height: 83.456px; display: inline-block;"> </a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 83.456px; width: 100%; height: 22.5331px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C2_AAA_Cash_Back.png" style="width: 104.96px; height: 83.456px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="slideItem" style="width: 83.968px; height: 84.7913px; top: 94.3105px; right: 226.516px; opacity: 0; z-index: 3; display: none;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C_USB_Golf.png" style="width: 83.968px; height: 66.7648px; display: inline-block;"> </a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 66.7648px; width: 100%; height: 18.0265px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C_USB_Golf.png" style="width: 83.968px; height: 66.7648px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="slideItem" style="width: 104.96px; height: 105.989px; top: 77.9531px; right: 654.195px; opacity: 0; z-index: 4; display: none;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C3_AAA_Housewares.png" style="width: 104.96px; height: 83.456px; display: inline-block;"> </a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 83.456px; width: 100%; height: 22.5331px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C3_AAA_Housewares.png" style="width: 104.96px; height: 83.456px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="slideItem" style="width: 131.2px; height: 132.486px; top: 57.5064px; right: 526.144px; opacity: 0; z-index: 5; display: none;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C1_Flex_Carousel_GiftCards.png" style="width: 131.2px; height: 104.32px; display: inline-block;"></a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 104.32px; width: 100%; height: 28.1664px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C1_Flex_Carousel_GiftCards.png" style="width: 131.2px; height: 104.32px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="slideItem" style="width: 164px; height: 165.608px; top: 31.948px; right: 366.08px; opacity: 1; z-index: 6; display: block;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C_USB_VSA.png" style="width: 164px; height: 130.4px; display: inline-block;"> </a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 130.4px; width: 100%; height: 35.208px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C_USB_VSA.png" style="width: 164px; height: 130.4px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="slideItem slideItem-active" style="width: 205px; height: 207.01px; top: 0px; right: 166px; opacity: 1; z-index: 7; display: block;">
               <a href="#"><img alt="" src="/content/dam/us-bank/C_USB_Electronics.png" style="width: 205px; height: 163px; display: inline-block;"> </a>
               <div class="reflection" style="position: absolute; margin: 0px; padding: 0px; border: none; overflow: hidden; left: 0px; top: 163px; width: 100%; height: 44.01px;">
                  <img id="reflectImage" src="/content/dam/us-bank/C_USB_Electronics.png" style="width: 205px; height: 163px; left: 0px; margin: 0px; padding: 0px; border: none; transform: rotate(180deg) scale(-1, 1); display: inline-block;">
                  <div class="gradient"></div>
               </div>
            </div>
            <div class="spinner" style="display: none; width: 205px; height: 163px; top: 0px; right: 166px; opacity: 1; z-index: 11; position: absolute; cursor: pointer; overflow: hidden; padding: 0px; margin: 0px; border: none;"></div>
            <div class="videoOverlay" style="display: none; width: 205px; height: 163px; top: 0px; right: 166px; opacity: 1; z-index: 10; position: absolute; cursor: pointer; overflow: hidden; padding: 0px; margin: 0px; border: none;"></div>
         </div>
         <div class="nextButton"></div>
         <div class="prevButton"></div>
      </div>
   </div>
</div>